<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocumentRead</title>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="h-full">
    <div class="bg-zinc-900 w-full h-full p-10 text-white">
      <div class="nav mb-10">
        <a class="text-blue-500" href="/">Back to Home</a>
      </div>
      <h1 class="text-3xl tracking-tighter mb-3">All Users</h1>
       <div class="users flex gap-3 flex-wrap">
        <%users.forEach((user)=>{ %>
        <div class="user w-72 p-4 bg-zinc-800 rounded-lg">
          <div class="w-full h-72 overflow-hidden bg-zinc-600 rounded-lg">
            <img class="w-full h-full object-cover object-top" src="<%=user.image%>" alt="AdarshPhoto.jpg">
          </div> 
          <h3 class="text-xl mt-3 tracking-tighter"><%=user.name%></h3>
          <h5 class="text-zinc-500"><%=user.email%></h5>
          <div class="flex gap-3 mt-10">
            <a class="text-zinc-400" href="/edit/<%=user._id%>">Edit User</a> 
            <a class="text-red-500" href="/delete/<%=user._id%>">Delete User</a> 
          </div>
         </div> 
        <% }) %>
      </div>
    </div> 
  </body>
</html>

